---
import { getCollection } from "astro:content";
import { getUniqueTags } from "../../../utils/getUniqueTags";
const projects = await getCollection('projects');
const uniqueTags = await getUniqueTags(projects);
const displayedTags = uniqueTags.slice(0, 5);
---

<ul class="flex-column space-x-4">
  {displayedTags.map(tag => (
    <li>
      <a href={`/tags/${tag}`} class="text-white hover:text-gray-200">{tag}</a>
    </li>
  ))}
   <li>
    <a href="/tags" class="text-white hover:text-gray-200">Ver más</a>
  </li>
</ul>