@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap");


* { margin: auto; padding: 0px; width: 100%; scroll-behavior: smooth; font-family: 'Quicksand', sans-serif;}
*, *::before, *::after { box-sizing: border-box; }


input, button, textarea, select { font: inherit; }

p { text-wrap: pretty;   backdrop-filter: blur(16px); padding: 2px;}
h1, h2, h3, h4, h5, h6 { text-wrap: balance; }

img, video, svg { height: auto; max-width: 100%; }

@media (prefers-reduced-motion: reduce)  {
 *, *::before, *::after { 
 animation-duration: 0.01ms !important; 
 animation-iteration-count: 1 !important; 
 transition-duration: 0.01ms !important; 
 scroll-behavior: auto !important;
 transition: none;
 }
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: #000000;
  background-size: cover;
  background-position: 0%;
  background-position-x: center;
  background-position-y: center;
  margin: 0px;
  line-height: 1.6;
  height: auto;
  overscroll-behavior-y: contain;
  margin-top: 90px;
  scroll-padding-top: 60px;
}

.header {
  backdrop-filter: blur(16px);
  color: white;
  padding: 20px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 10%;
}

.btn-7 {
  width: auto;
  height: auto;
  border: none;
}
.btn-7:hover {
  color:  orange;
  background: transparent;
   box-shadow:none;
}
.btn-7:before,
.btn-7:after{
  content:'';
  position:absolute;
  right: 0;
  left: 0;
  bottom: 0;
  height:2px;
  width:0;
  background: orange;
  box-shadow:
   -1px -1px 5px 0px orange,
   7px 7px 20px 0px #0003,
   4px 4px 5px 0px #0002;
  transition:200ms ease all;
}
.btn-7:after{
  bottom:0;
}
.btn-7:hover::before,
.btn-7:hover::after,
.btn-7.active::before,
.btn-7.active::after {
  width: 100%;
  transition: width 800ms ease;
}



/* BANNER INTRO */
.banner {
  width: 100%;
  height: 70vh;
}


/* Efecto cubos intro index */
   #intro {
      margin: auto;
      position: relative;
      overflow: hidden;
      width: 100%;
      height: 100vh;
    }

    .atropos-banner {
      position: relative;
      width: 100%;
      height: 100%;
    }

.cube-01,
.cube-02,
.cube-03,
.cube-04,
.cube-05 {
  position: absolute;
  height: 150px;
  width: 150px;
  border: 2px solid #fd690093;
  background: linear-gradient(135deg, #000000, #fd650098);
  border-radius: 15px;
  mix-blend-mode: screen;
  box-shadow: 0px 0px 20px 5px rgba(253, 140, 1, 0.696);
  background-blend-mode: overlay;
  mix-blend-mode: screen;
}

    .cube-01 {
      bottom: 190px;
      left: 72vw;
      transform: rotate(135deg);
      animation: cube-01 20s linear infinite alternate;
    }

    .cube-02 {
      top: 100px;
      left: 79vw;
      transform: rotate(-90deg);
      animation: cube-02 30s cubic-bezier(0.25, 0.46, 0.45, 0.94) infinite alternate;
    }

    .cube-03 {
      top: 250px;
      right: 86vw;
      border-radius: 30px;
      transform: rotate(-120deg);
      animation: cube-03 25s linear infinite alternate;
    }

    .cube-04 {
      top: 5px;
      left: 40vw;
      border-radius: 40px;
      transform: rotate(-190deg);
      animation: cube-04 20s linear infinite alternate;
    }

    .cube-05 {
      top: 400px;
      right: 60vw;
      border-radius: 40px;
      transform: rotate(223deg);
      animation: cube-05 20s linear infinite alternate;
    }

    @keyframes cube-01 {
      0% {
        transform: rotate(135deg);
      }
      100% {
        transform: rotate(315deg);
      }
    }

    @keyframes cube-02 {
      0% {
        transform: rotate(180deg) scale(1);
      }
      100% {
        transform: rotate(360deg) scale(1.5);
      }
    }

    @keyframes cube-03 {
      0% {
        transform: rotate(100deg);
      }
      100% {
        transform: rotate(220deg);
      }
    }

    @keyframes cube-04 {
      0% {
        transform: translate(0, 0) rotate(-190deg);
      }
      100% {
        transform: translate(0px, 0px) rotate(-370deg);
      }
    }

    @keyframes cube-05 {
   0% {
        transform: translate(-10px, -10px) rotate(-190deg) scale(1);
      }
      100% {
        transform: translate(250px, -150px) rotate(-370deg) scale(1.5);
      }
    }


/* Efecto máquina de escribir texto de introducción */
.text-intro{
  background-color: #181818b0;
  backdrop-filter: blur(6px);
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 16px;
}

.p-intro{
  font-size: 1.5rem;
  color: white;
  white-space: nowrap;
  border-right: 3px solid;
  width: 23ch;
  animation: blink 0.5s infinite step-end alternate, escritura 1.8s steps(23);
  overflow: hidden;
}

@keyframes blink{
  50%{border-color: transparent};
}

@keyframes escritura{
  from{width:0;}
}




/* hover diploma */
.diploma::before {
  content: '';
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  border-radius: inherit;
  z-index: -1;
  background: radial-gradient(circle at center, #fa770b, #000000);
  animation: gradient 3s ease-in-out infinite;
  background-size: -100% -100%;
  padding: 4px;
  box-sizing: border-box;
  opacity: 0;
  transition: opacity 0.9s ease-out;
}
.diploma:hover::before {
  opacity: 0.2;
}

@keyframes gradient {
  0% {
    background-position: center;
  }
  100% {
    background-position: -500%;
  }
}



/* slider tecnologías */

.slider{
  width: 75vw;
  height: auto;
  margin: auto;
  margin-top: 10%;
  overflow: hidden;
  background: linear-gradient(135deg, #000000, #ff8c0090);
  background: radial-gradient(circle, rgba(253, 131, 0, 0.662), rgba(255, 140, 0, 0.382), rgb(0, 0, 0), rgb(0, 0, 0));
  background-blend-mode: overlay;
}

.slider .slide-track {
  display: flex;
  gap: 4px;
  animation: scroll 40s linear infinite;
  -webkit-animation: scroll 40s linear infinite;
  width: calc(200px * 20);
}

.slider .slide {
  width: 200px; 
}

.slider .slide img {
  width: 100%;
}

@keyframes scroll{
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(calc(-200px * 10));
    transform: translatex(calc(-200px * 10));
  }
}


/* Subtitle diplomas */
.cube {
  width: auto;
  height: 50px;
  perspective: 1000px;
  overflow: hidden;
  background: radial-gradient(circle at center, #000000, #000000, #000000, #fa770b9b);
  border-radius: 50%;
}

.ul-cube {
  width: auto;
  height: 50px;
  position: relative;
  animation: slide 10s cubic-bezier(.55,.09,.68,.53) infinite; 
  list-style: none;
  margin: 0;
  padding: 0;
}


.ul-cube li {
  width: 100%;
  height: 50px;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  color: rgb(208, 204, 204);
  opacity: 0;
  transform: translateY(100%);
  animation: fadeInOut 10s cubic-bezier(.55,.09,.68,.53) infinite;
}

.ul-cube li:nth-child(1) {
  top: 0%;
  animation-delay: 0s;
}

.ul-cube li:nth-child(2) {
  top: 100%;
  animation-delay: 2.5s;
}

.ul-cube li:nth-child(3) {
  top: 200%;
  animation-delay: 5s;
}

.ul-cube li:nth-child(4) {
  top: 300%;
  animation-delay: 7.5s;
}

@keyframes slide {
  0%, 20% {
    transform: translateY(0);
  }
  25%, 45% {
    transform: translateY(-100%);
  }
  50%, 70% {
    transform: translateY(-200%);
  }
  75%, 95% {
    transform: translateY(-300%);
  }
  100% {
    transform: translateY(-400%);
  }
}


@keyframes fadeInOut {
  0%, 10%, 20% {
    opacity: 1;
    transform: translateY(0);
  }
  25%, 95% {
    opacity: 0;
    transform: translateY(-100%);
  }
  100% {
    opacity: 0;
    transform: translateY(-100%);
  }
}


/* EFECTO HOVER TECNOLOGÍAS */

:hover.tags{
  background: radial-gradient(circle at center, #fa770b, #000000);
  animation: gradient 3s ease-in infinite;
  background-size: -20% -20%;
  box-sizing: border-box;
  opacity: 0.8;
  transition: opacity 0.2s ease-in;
}


/* Diploma slider */

.diploma-container {
  display: flex;
  flex-direction: column;
  margin: auto;
  justify-content: center;
  align-items: center;
  gap: 5%;
  width: 100%;
  height: auto;
}

.diploma-list {
  flex: 1;
  padding-right: 20px;
  max-height: 50vh;
  overflow-y: auto;
}

.diploma-item {
  cursor: pointer;
  padding: 10px;
  border-bottom: 1px solid #ccc;
  transition: background-color 0.3s ease;
}

.diploma-item:hover {
  background-color: #fc6203;
}

.diploma-item.active {
  background-color: #fe6100;
}

.diploma-image {
  flex: 1;
}

.diploma-image img {
  width: 100%;
  max-width: 400px;
  height: auto;
  border-radius: 16px;
}


/* SLIDER SOFT SKILLS */
.mySwiperSoftSkills {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
  width: 90%;
  height: 70vh;
  overflow: hidden;
}

.mySwiperSoftSkills .swiper-slide {
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.mySwiperSoftSkills .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
}



/*slider proyectos títulos */
.mySwiperProject{
  width: 100%;
  height: auto;
}

.mySwiperProject .swiper-button-prev,
.mySwiperProject .swiper-button-next {
  color: #fe6100; 
}


/* Animación formulario contacto */
.ContactRing{
  position: relative;
  width: 50%;
  height: 80%;
  right: 0%;
  left: 0%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  align-content: center;
  flex-wrap: wrap;
  padding: 18rem;
}
.ContactRing i {
  position: absolute;
  inset: 0;
  border: 2px solid #fff;
  transition: 0.5s;
}
.ContactRing i:nth-child(1) {
  border-radius: 38% 62% 63% 37% / 41% 44% 56% 59%;
  animation: animate 6s linear infinite;
}
.ContactRing i:nth-child(2) {
  border-radius: 41% 44% 56% 59%/38% 62% 63% 37%;
  animation: animate 4s linear infinite;
}
.ContactRing i:nth-child(3) {
  border-radius: 41% 44% 56% 59%/38% 62% 63% 37%;
  animation: animate2 10s linear infinite;
}
.ContactRing:hover i {
  border: 6px solid var(--clr);
  filter: drop-shadow(0 0 20px var(--clr));
}
@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes animate2 {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.ContactName {
  position: absolute;
  width: 50%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 15px;
}
.ContactName h2 {
  font-size: 2em;
  color: #fff;
}
.ContactName .inputBx {
  position: relative;
  width: 100%;
}
.ContactName .inputBx input {
  position: relative;
  width: 100%;
  padding: 12px 20px;
  background: transparent;
  border: 2px solid #fff;
  border-radius: 40px;
  font-size: 1.2em;
  color: #fff;
  box-shadow: none;
  outline: none;
}
.ContactName .inputBx input[type="submit"] {
  width: 100%;
  background: #ff2a00;
  background: linear-gradient(45deg, #fd3f00, #ffbd72);
  border: none;
  cursor: pointer;
}
.ContactName .inputBx input::placeholder {
  color: rgba(255, 255, 255, 0.75);
}
.ContactName .links {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}
.ContactName.links a {
  color: #fff;
  text-decoration: none;
}

@media (max-width: 768px) {
  .ContactRing{
    width: 20%;
  }
}


/*títulos proyectos en projectDetail*/
.custom-btn {
  width: auto;
  height: auto;
  color: white;
  border-radius: 12px;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
}

.btn-5 {
  width: auto;
  height: auto;
  padding: 6px;
  border: none;
}
.btn-5:hover {
  color:  rgb(255, 132, 0);
  background: transparent;
   box-shadow:none;
}
.btn-5:before,
.btn-5:after{
  content:'';
  position:absolute;
  top:0;
  right:0;
  height:2px;
  width:0;
  background:  rgb(255, 132, 0);
  box-shadow:
   -1px -1px 5px 0px #fff,
   7px 7px 20px 0px #0003,
   4px 4px 5px 0px #0002;
  transition:400ms ease all;
}
.btn-5:after{
  right:inherit;
  top:inherit;
  left:0;
  bottom:0;
}
.btn-5:hover:before,
.btn-5:hover:after,
.btn-5.active::before,
.btn-5.active::after {
  width:100%;
  transition:800ms ease all;
}


.row {
   margin: -20px 0;
   .col {
      padding: 0 20px;
      float: left;
      box-sizing: border-box;
      &.x-50 {
         width: 50%;
      }
      &.x-100 {
         width: 100%;
      }
   }
}

.content-wrapper {
   min-height: 100%;
   position: relative;
}

.get-in-touch {
   max-width: 650px;
   margin: 0 auto;
   position: relative;
   top: 50%;
   transform: translateY(-50%);
  
  .title {
     text-align: center;
     text-transform: uppercase;
     letter-spacing: 3px;
     font-size: 36px;
     line-height: 48px;
     padding-bottom: 48px;
  }
}

.contact-form {
   .form-field {
      position: relative;
      margin: 32px 0;
   }
   .input-text {
      display: block;
      background-color: black;
      width: 100%;
      height: 36px;
      border-width: 0 0 2px 0;
      border-color: orange;
      font-size: 18px;
      line-height: 26px;
      font-weight: 400;
      
      &:focus {
         outline: none;
      }
      
      &:focus,
      &.not-empty {
         + .label {
            transform: translateY(-24px);
         }
      }
   }
   .label {
      position: absolute;
      left: 20px;
      bottom: 11px;
      font-size: 18px;
      line-height: 26px;
      font-weight: 400;
      color: orange;
      cursor: text;
      transition: transform .2s ease-in-out;
   }
   
   .submit-btn {
      display: inline-block;
      border-radius: 16px;
      text-transform: uppercase;
      letter-spacing: 2px;
      font-size: 16px;
      line-height: 24px;
      padding: 8px 16px;
      border: none;
      cursor: pointer;
   }
}
