/* Asegúrate de incluir estos estilos al final de tu archivo de estilos global */

.relative {
    position: relative;
  }
  
  .absolute {
    position: absolute;
  }
  
  .inset-0 {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  
  .transform {
    transform: skewX(-12deg);
  }
  
  .origin-bottom-left {
    transform-origin: bottom left;
  }
  
  .bg-cover {
    background-size: cover;
  }
  
  .bg-center {
    background-position: center;
  }
  
  .dropdown-list {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    padding: 10px;
    z-index: 1;
  }
  
  .navbar-nav li:hover.dropdown-list {
    display: block;
  }
  