---
import { getCollection } from "astro:content";
import Layout from "../../layouts/BaseLayout.astro";
import { getUniqueTags } from '../../utils/getUniqueTags';
export const prerender = true;
export async function getStaticPaths() {
  const allProjects = await getCollection('projects');
  const uniqueTags = await getUniqueTags(allProjects);

  return uniqueTags.map((tag) => ({
    params: { tag },
    props: { projects: allProjects.filter((project) => project.data.tags.includes(tag)) }
  }));
}

const { tag } = Astro.params;
const { projects } = Astro.props;
---

<Layout pageTitle={tag}>
  <h1 class="text-white">Projectos en los que se ha utilizado {tag}</h1>
<ul class="tag-list text-white">
  {projects.map((project) => (
  <li>
      <a href={`/projects/${project.slug}`}>{project.data.title}</a>
  </li>
  ))}
</ul>
</Layout>