---
import { getCollection } from "astro:content";
import LinksNavbar from "../../components/LinksNavbar.astro";
import Layout from "../../layouts/Layout.astro";

export async function getStaticPaths() {
  const allProjects = await getCollection('projects');
  const uniqueTags = [...new Set(allProjects.map((project) => project.data.tags).flat())];

  return uniqueTags.map((tag) => ({
    params: { tag },
    props: { projects: allProjects.filter((project) => project.data.tags.includes(tag)) }
  }));
}

const { tag } = Astro.params;
const { projects } = Astro.props;
---

<Layout pageTitle={tag}>
  <h1>Projectos en los que se ha utilizado {tag}</h1>
  <ul>
    {projects.map((project) => (
      <LinksNavbar url={`/projects/${project.slug}`} title={project.data.title} />
    ))}
  </ul>
</Layout>