---
import Layout from '../layouts/BaseLayout.astro';
import DiplomaModal from '../components/diploma/DiplomaModal';
import AnimatedElement from '../components/AnimatedElement';
import About from '../components/About.astro';

---


<Layout>    
  <div class="intro" id="intro">
    <div class="backdrop:blur-md">
      <div class="cube-01"></div>
      <div class="cube-02"></div>
      <div class="cube-03"></div>
      <div class="cube-04"></div>
      <div class="cube-05"></div>
    </div>

      <section class="container-intro text-center pt-36">
        <div class="card-intro">
          <p class="txt-intro text-4xl font-bold text-white z-10">Bienvenida/o a mi Portafolio</p>
          <h2 class="txt-intro text-lg text-white mt-4 pb-16 z-10">Soy una desarrolladora web Full Stack especializada en JavaScript y React.</h2>
        </div>
      
      </section>

  </div>
  <section class="h-auto">
    <About />
  </section>
    <section class=" h-auto ">
      <DiplomaModal client:visible/>
    </section>

</Layout>
