---
import Layout from '../layouts/BaseLayout.astro';
import DiplomaModal from '../components/diploma/DiplomaModal';
import AnimatedElement from '../components/AnimatedElement';
import About from '../components/About.astro';
import SlideIndex from '../components/SlideIndex.astro';
---


<Layout>    
  <div class="intro" id="intro">
    <div class="backdrop:blur-md">
      <div class="cube-01"></div>
      <div class="cube-02"></div>
      <div class="cube-03"></div>
      <div class="cube-04"></div>
      <div class="cube-05"></div>
    </div>

      <section class="text-center pt-36">
        <div class="text-intro">
          <p class="p-intro">Bienvenida/o a mi portafolio </p>
         <p class="text-white text-2xl"> Soy una desarrolladora web Full Stack especializada en JavaScript y React.</p>
        </div>
      </section>

  </div>

  <section class="mt-16 mb-24">
    <SlideIndex />
</section>
  <section class="h-auto">
    <About />
  </section>
    <section class=" h-auto ">
      <DiplomaModal client:visible/>
    </section>


  
</Layout>
