---
import { getCollection } from 'astro:content';
const projects = await getCollection('projects');
const currentPath = Astro.url.pathname;
---

<ul class="text-white hidden p-3 center bg-black rounded-3xl items-center text-center m-auto lg:flex gap-4 justify-center">
  {projects.map(project => (
    <li>
      <a class="p-2 underline-offset-8 rounded-2xl" href={`/projects/${project.slug}`}>
          <button class={`custom-btn btn-5 ${currentPath === `/projects/${project.slug}` ? 'active' : ''}`}>
            {project.data.title}
          </button>
      </a>
    </li>
  ))}
</ul>

