---
import DiplomaAccordion from "./DiplomaAccordion";
import { Image } from 'astro:assets';
import me from '../../public/me.jpg';
---
    <section id="sobre-mi" class="text-white py-16 px-8">
      <div class="container mx-auto">
        <h2 class="text-4xl font-bold mb-8 text-center" data-aos="fade-up">Sobre mí</h2>
        <div class="flex flex-col md:flex-row items-center" data-aos="fade-up" data-aos-delay="200">
          <div class="md:w-1/2 mb-8 md:mb-0 md:mr-8 img-intro rounded-full" data-aos="zoom-in-up">
            <Image src={me} alt="Mi Foto" class="rounded-full shadow-lg mx-auto h-96 w-96 object-cover" />
          </div>
          <div class="md:w-1/2 pl-6 pb-6" data-aos="fade-left" data-aos-delay="400">
            <p class="text-lg leading-relaxed text-gray-300 pb-6">
              ¡Hola! Soy Mayra, una desarrolladora web Full Stack con pasión por la evolución tecnológica. Tengo experiencia en el desarrollo de aplicaciones web con diseño responsivo. Me encanta trabajar en proyectos que involucren desafíos, y siempre estoy buscando nuevas oportunidades para aprender y crecer.
            </p>
            <a href="/contact" class="text-xl inline-block border-b border-orange-400 text-white  hover:bg-gradient-to-r from-red-500 to-orange-500 py-2 px-4 rounded-full" data-aos="fade-left" data-aos-delay="700">
              Conectar conmigo
            </a>
          </div>
        </div>
      </div>
    </section>
    <section id="sobre-mi" class="text-white py-16 px-8">
        <div class="container mx-auto">
          <h2 class="text-4xl font-bold mb-8 text-center" data-aos="fade-up"></h2>
          <div class="flex flex-col md:flex-row items-center" data-aos="fade-up" data-aos-delay="200">
            <div class="md:w-1/2 pr-6 pb-6">
              <div class=" mb-8 md:mb-0 md:mr-8" data-aos="zoom-in">
                <img src="/about2.jpg" alt="Mi Foto" class="rounded-full shadow-lg mx-auto" />
              </div>
                <p class="text-lg leading-relaxed text-gray-300 mt-4 pb-6" data-aos="fade-left" data-aos-delay="400">
                  Soy una ferviente defensora de la esencial conexión con la naturaleza. En mis tiempos libres disfruto de una buena lectura, mezclar música y encuentro distención en la escritura. Siempre estoy dispuesta a conectar con personas que compartan mis ideales o que tengan proyectos interesantes en los que pueda colaborar.
                </p>
                <a href="/projects" class="text-xl border-b border-orange-400 mt-4 inline-block text-white  hover:bg-gradient-to-r from-red-500 to-orange-500 py-2 px-4 rounded-full" data-aos="fade-right" data-aos-delay="700">
                  Ver proyectos
                </a>
              </div>
          </div>
        </div>
    </section>
    <section id="sobre-mi" class="text-white py-16 px-8">
      <DiplomaAccordion client:visible />
    </section>

   
