<div class="carousel-container flex space-x-4 overflow-x-auto py-4">
    <div class="carousel-item bg-white p-4 rounded shadow-md flex-shrink-0 w-64">
      <img src="/path/to/logo1.png" alt="Tecnología 1" class="h-12 mx-auto mb-2" />
      <p class="text-center">Tecnología 1</p>
    </div>
    <div class="carousel-item bg-white p-4 rounded shadow-md flex-shrink-0 w-64">
      <img src="/path/to/logo2.png" alt="Tecnología 2" class="h-12 mx-auto mb-2" />
      <p class="text-center">Tecnología 2</p>
    </div>
    <div class="carousel-item bg-white p-4 rounded shadow-md flex-shrink-0 w-64">
        <img src="/path/to/logo1.png" alt="Tecnología 1" class="h-12 mx-auto mb-2" />
        <p class="text-center">Tecnología 1</p>
      </div>
      <div class="carousel-item bg-white p-4 rounded shadow-md flex-shrink-0 w-64">
        <img src="/path/to/logo2.png" alt="Tecnología 2" class="h-12 mx-auto mb-2" />
        <p class="text-center">Tecnología 2</p>
      </div>
      <div class="carousel-item bg-white p-4 rounded shadow-md flex-shrink-0 w-64">
        <img src="/path/to/logo1.png" alt="Tecnología 1" class="h-12 mx-auto mb-2" />
        <p class="text-center">Tecnología 1</p>
      </div>
      <div class="carousel-item bg-white p-4 rounded shadow-md flex-shrink-0 w-64">
        <img src="/path/to/logo2.png" alt="Tecnología 2" class="h-12 mx-auto mb-2" />
        <p class="text-center">Tecnología 2</p>
      </div>
  </div>