---
import  Navbar  from '../components/Navbar.jsx';

---

    <header>
      <div class="container mx-auto flex justify-between items-center p-4">
        <a href="/">
        <div>
          <img src="code.png" alt="Logo" class="h-8 w-auto" />
        </div>
        <Navbar/>
      </div>
    </a>
    </header>
