---
// src/pages/index.astro

const currentPath = Astro.url.pathname;

const logoPath = '/code.png';
---

<html>
  <head>
    <title>Mi Portafolio</title>
  </head>
  <body>
    <header class="w-full md:w-1/2 py-3 filter backdrop-blur-xl rounded-full bg-gradient-to-b from-black to-transparent text-sm md:text-base lg:text-lg sticky top-0 z-50">
      <section class="mx-auto flex justify-evenly items-center">
        <a href="/index2" class="w-1/4 flex items-center">
          <img src={logoPath} alt="Logo" class="h-8 w-auto" />
        </a>
        <ul class="flex flex-row items-center justify-center">
          <li class="custom-btn btn-7">
            <a href="/projects" class={`btn-7 ${currentPath === '/projects' ? 'active' : ''}`}>
              <button class="text-white/70 hover:text-white">Proyectos</button>
            </a>
          </li>
          <li class="custom-btn btn-7">
            <a href="/" class={`btn-7 ${currentPath === '/' ? 'active' : ''}`}>
              <button class="text-white/70 hover:text-white">Sobre mí</button>
            </a>
          </li>
          <li class="custom-btn btn-7">
            <a href="#contact" class='btn-7'>
              <button class="text-white/70 hover:text-white">Contacto</button>
            </a>
          </li>
        </ul>
      </section>
    </header>
  </body>
</html>
