
---
import { getCollection } from 'astro:content';
const projects = await getCollection('projects');
---
<ul>
  {projects.map(project => (
    <li>
      <a href={`/projects/${project.slug}`}>{project.data.title}</a>
    </li>
  ))}
</ul>