---
import { getCollection } from 'astro:content';
const projects = await getCollection('projects');
---

<ul class="text-white p-3 center items-center text-center m-auto flex gap-4 justify-center ">
  {projects.map(project => (
    <li>
      <a class="p-2 underline-offset-8 hover:underline transition-ease-in-out rounded-2xl" href={`/projects/${project.slug}`}>
          {project.data.title}
      </a>
    </li>
  ))}
</ul>


