---
---

<div class="slider gradient-border">
    <div class="slide-track">
        <div class="slide">
            <img src="https://img.icons8.com/?size=100&id=BvOgdNG9FkDU&format=png&color=000000" alt="">
        </div>
        <div class="slide">
            <img src="https://img.icons8.com/?size=100&id=54087&format=png&color=000000" alt="">
        </div>
        <div class="slide">
            <img src="icon3.png" alt="">
        </div>
        <div class="slide">
            <img src="icon4.png" alt="">
        </div>
        <div class="slide">
            <img src="icon5.png" alt="">
        </div>
        <div class="slide">
            <img src="icon6.png" alt="">
        </div>
        <div class="slide">
            <img src="icon7.png" alt="">
        </div>
        <div class="slide">
            <img src="icon8.png" alt="">
        </div>
        <div class="slide">
            <img src="icon9.png" alt="">
        </div>
        <div class="slide">
            <img src="icon10.svg" alt="">
        </div>
        <div class="slide">
            <img src="icon1.png" alt="">
        </div>
        <div class="slide">
            <img src="icon2.png" alt="">
        </div>
        <div class="slide">
            <img src="icon3.png" alt="">
        </div>
        <div class="slide">
            <img src="icon4.png" alt="">
        </div>
        <div class="slide">
            <img src="icon5.png" alt="">
        </div>
        <div class="slide">
            <img src="icon6.png" alt="">
        </div>
        <div class="slide">
            <img src="icon7.png" alt="">
        </div>
        <div class="slide">
            <img src="icon8.png" alt="">
        </div>
        <div class="slide">
            <img src="icon9.png" alt="">
        </div>
        <div class="slide">
            <img src="icon10.svg" alt="">
        </div>
    </div>
</div>
