---

export async function getStaticPaths() {

  const projects = await Astro.glob('../../data/*.json');
  return projects.map((project) => ({
    params: { slug: project.slug },
    props: { project }
  }));
}


const { project } = Astro.props;

if (!project) {
  throw new Error(`Project not found for slug: ${Astro.params.slug}`);
}
---

<html>
  <body>
    <h1>{project.name}</h1>
    <p>{project.description}</p>
    <p>{project.details}</p>
  </body>
</html>
