---
import ProjectList from "./projects/ProjectList.astro";
import TagsList from "./tags/TagsList.astro";
---
    <style>
      @media (max-width: 768px) {
        .md\:hidden {
          display: block;
        }
        .md\:flex {
          display: none;
        }
      }
    </style>
  <body>
    <nav class=" text-white p-4">
      <div class="container mx-auto flex justify-between items-center">
        <div class="md:hidden">
          <button id="menu-button" class="focus:outline-none">
            <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7"></path>
            </svg>
          </button>
        </div>
        <ul class="hidden md:flex md:items-center space-x-8">
          <li hover:bg-gray-300>
            <a href="/" class="block mt-4 md:mt-0 border-gray-400/20 border-e border-b hover:border-orange-400/10 hover:shadow-lg hover:shadow-orange-600/50 hover:text-gray-300 p-1 rounded-xl">
            Inicio
            </a>
          </li>
          <li>
            <a href="/about" class="block mt-4 md:mt-0 border-gray-400/20 border-e border-b hover:border-orange-400/10 hover:text-gray-300 hover:shadow-lg hover:shadow-orange-600/50 p-1 rounded-xl">
              Sobre mí
            </a>
          </li>
          <li>
            <a href="/projects" class="block mt-4 md:mt-0 border-gray-400/20 border-e border-b hover:border-orange-400/10 hover:text-gray-300 hover:shadow-lg hover:shadow-orange-600/50 p-1 rounded-xl">
              Proyectos
            </a>
          </li>
          <li class="relative">
            <button id="projects-button" class="block mt-4 md:mt-0 border-gray-400/20 border-e border-b hover:border-orange-400/10  hover:text-gray-300 hover:shadow-lg hover:shadow-orange-600/50 p-1 rounded-xl">
              Etiquetas
            </button>
            <div id="projects-menu" class="hidden absolute mt-2 w-48 border-gray-400/20 border-e border-b  hover:text-gray-300 hover:border-orange-400/10  hover:shadow-lg hover:shadow-orange-600/50 p-1 rounded-xl">
              <TagsList />
            </div>
          </li>
          <li>
            <a href="#Footer" class="block mt-4 md:mt-0 border-gray-400/20 border-e border-b hover:border-orange-400/10 hover:text-gray-300 hover:shadow-lg hover:shadow-orange-600/50 p-1 rounded-xl">
              Contacto
            </a>
          </li>
        </ul>
      </div>
    </nav>

    <script is:inline data-astro-rerun>  
      document.getElementById('projects-button').addEventListener('click', () => {
        const menu = document.getElementById('projects-menu');
        menu.classList.toggle('hidden');
      });
    </script>
  </body>




